<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--add name="OraConnStringDJ" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.80.201)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=IIC_DC;Password=iic*dctabs201b;" providerName="System.Data.OracleClient"/-->
    <!--add name="OraConnStringGJ" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.80.201)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=IIC_DC_GJ;Password=iic*dctabs201b;" providerName="System.Data.OracleClient"/-->
    <add name="OraConnStringDJ" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.80.204)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=iic_dc;Password=iic_dc;" providerName="System.Data.OracleClient"/>
    <add name="OraConnStringGJ" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.80.12)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=iic_dc_gj;Password=iic_dc_gj;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
